.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76.88%;
}

@media all and (max-width: 1024px) {
    .places {
        width: 92.5%;
    }
}

@media all and (max-width: 620px) {
    .places {
        width: 100%;
    }
}
