.header {
    width: 92.5%;
    margin: 28px 0 56px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    align-items: center;
}

@media all and (max-width: 1024px) {
    .header {
        margin-bottom: 48px;
    }
}

@media all and (max-width: 320px) {
    .header {
        margin-top: 16px;
    }
}
