.cover__overlay {
    grid-column: 1/6;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, .3); 
    z-index: 2;
}

@media screen {
    .cover__overlay:hover {
        cursor: pointer;
        transition: all 1s ease-out;
        background-color: rgba(42, 44, 47, .8);
    }
}