.cover__overlay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.cover__overlay:before {
    content: '';
    position: absolute;
    background-color: rgba(42, 44, 47, .3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen {
    .cover__overlay:hover:before {
        cursor: pointer;
        transition: all 1s ease-out;
        background-color: rgba(42, 44, 47, .8);
    }
}
